<!-- select_material.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Select Material</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Select</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_subject').change(function() {
            var subjectId = $(this).val();
            var materialType = $('#id_material_type').val();
            if (subjectId) {
                $.ajax({
                    url: '{% url "student_materials:ajax_load_files" %}',
                    data: {
                        'subject_id': subjectId,
                        'material_type': materialType
                    },
                    success: function(data) {
                        $('#id_file').empty();
                        $.each(data, function(index, file) {
                            $('#id_file').append($('<option/>', {
                                value: file.id,
                                text: file.file_name
                            }));
                        });
                    }
                });
            } else {
                $('#id_file').empty();
            }
        });

        $('#id_material_type').change(function() {
            $('#id_subject').change();  // Trigger subject change to load files based on new type
        });
    });
</script>
{% endblock %}
